

<div class="s-results-border-bottom">
         <div class="row">
        <div class="col-sm-12">
            {{#if orcidUserName}}
                <h2> <span class="s-light-font">ORCID Papers for </span>{{orcidUserName}}</h2>
            {{else}}
                <h2 class="s-light-font">My ORCID Papers</h2>
            {{/if}}
        </div>
     </div>
    <div class="row">
        {{#if hasDocs}}
        <div class="col-sm-6">
            <i class="fa fa-sort"></i> Sort by:
            <div class="s-radio-link sort">
                <button class="btn btn-link {{#compare sort 'orcid-add'}} active {{/compare}}" data-sort="orcid-add">Date added to ORCID</button>
                <button class="btn btn-link {{#compare sort 'pubdate'}} active {{/compare}}" data-sort="pubdate">Paper publication date</button>
            </div>

        </div>
        <div class="col-sm-6">
            <i class="fa fa-filter"></i> Show:
            <div class="s-radio-link filter">
                <button class="btn btn-link {{#compare filter 'both'}} active {{/compare}}" data-filter="both">All papers</button>
                <button class="btn btn-link {{#compare filter 'ads'}} active {{/compare}}" data-filter="ads">Papers added from the ADS</button>
                <button class="btn btn-link {{#compare filter 'others'}} active {{/compare}}" data-filter="others">Papers added from other sources</button>
            </div>
        </div>
        {{/if}}
    </div>


</div>

<div class="row">
    <ul class="col-sm-12 results-list  s-results-list list-unstyled s-display-block" aria-label="list of results">
    </ul>
</div>
{{#if pagination}}
<div class="row">
    <div class="col-sm-12 pagination-controls s-pagination-controls">
        <div class="col-sm-5 col-sm-offset-2">
            <ul class="pagination">
                {{#if showFirst}}
                <li><a href="search/{{../currentQuery}}" data-paginate = "1" data-bypass>&laquo;</a></li>
                {{/if}}
                {{#each pageData}}
                <li {{#if this.current}} class="active" {{/if}} >
                <a href="{{this.link}}" data-bypass  data-paginate = "{{this.p}}" >{{this.p}} </a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-sm-5 s-per-page-controls">
            Show <input class="per-page" type="text" placeholder="{{perPage}}"/> per page
        </div>
    </div>
</div>
{{/if}}

