
<ul class="nav nav-pills user-pill-nav s-user-pill-nav">
    <li role="presentation" class="active"><a href=""><i class="fa fa-cog"></i> User Settings </a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <i class="fa fa-book"></i> ADS Libraries <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>Coming Soon(ish)!</li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
           <i class="fa fa-bell"></i> MyADS Alerts <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>Coming Soon(ish)!</li>
        </ul>
    </li>
</ul>

<div class="row">
    <div class="col-sm-11 col-sm-offset-1 heading-container">
    </div>
</div>
<div class="row">
<div class="col-sm-3 col-sm-offset-1 nav-container">
</div>


<div class="col-sm-7 content-container">

</div>
</div>
